.App {
  width: 800px;
  margin: 0 auto;
}

h1{
  text-align: center;
}

.tool-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
}